<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3476aef765.js" crossorigin="anonymous"></script>
    <!-- link to google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'orders/css/style.css' %}"/>
    <title>Register</title>
</head>
<body>
    <section class="register">
        <div class="register-form">
            <h1 class="form-title">Join <a href="{% url 'index' %}" class="rm-link">Pinocchio's Pizza & Subs</a></h1>
            <p class="form-description">Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>
            <form class="form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" id="fname" placeholder="First Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" id="lname" placeholder="Last Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                </div>
                <input type="submit" value="Sign Up" class="btn btn-register"><a href="{% url 'login' %}" class="login-link">I'm already member</a>
            </form>
        </div>
        <section class="register-bg">
        </section>
    </section>
    
</body>
</html>